@model IEnumerable<FileUpload.Models.tbl_registration>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Excel Import</h2>

        <form method="post" enctype="multipart/form-data">
            <div>
                <input name="file" type="file" required />
                <button type="submit">Import</button>
            </div>
        </form>
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="padding:5px 10px;border-bottom:1px solid;text-align:center;background-color:deepskyblue;">Email</th>
                <th style="padding:5px 10px;border-bottom:1px solid;text-align:center;background-color:deepskyblue;">Name</th>
                <th style="padding:5px 10px;border-bottom:1px solid;text-align:center;background-color:deepskyblue;">Address</th>
                <th style="padding:5px 10px;border-bottom:1px solid;text-align:center;background-color:deepskyblue;">City</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="padding:5px 10px;border-bottom:1px solid;text-align:left;">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td style="padding:5px 10px;border-bottom:1px solid;text-align:left;">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td style="padding:5px 10px;border-bottom:1px solid;text-align:left;">@Html.DisplayFor(modelItem => item.Address)</td>
                    <td style="padding:5px 10px;border-bottom:1px solid;text-align:left;">@Html.DisplayFor(modelItem => item.City)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
