@model IEnumerable<FileUpload.Models.tbl_registration>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin:0 100px">
        <h2>Excel Import</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="col-lg-3">
                <input name="file" type="file" required />
            </div>
            <div class="col-lg-9">
                <button type="submit">Import</button>
            </div>
        </form>
        <hr /><hr />
        <table class="table table-striped">
            <tr style="width:10px">
                <th class="active">Email</th>
                <th class="active">Name</th>
                <th class="active">Address</th>
                <th class="active">City</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="success">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="warning">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="danger">@Html.DisplayFor(modelItem => item.Address)</td>
                    <td class="info">@Html.DisplayFor(modelItem => item.City)</td>
                </tr>
            }
        </table>
        <hr />
        <div>
            <button id="select-all" class="btn button-default">SelectAll</button>
            <button id="select-invert" class="btn button-default">Invert</button>
            <button id="selected" class="btn btn-danger">Confirm</button>
            <a href="/Paging/" class="btn btn-info">LIST</a>
        </div>

        <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                //button get selected info
                $("#selected").click(function () {
                    var items = [];
                    $("input.select-item:checked:checked").each(function (index, item) {
                        items[index] = item.value;
                    });
                    if (items.length < 1) {
                        alert("no selected items!!!");
                    } else {
                        //UPDATE actualCOst
                        //SET status = 'Confirm/1'
                        //WHERE ActualID = {(id)};
                        var values = items.join(',');
                        console.log(values);
                        var html = $("<div></div>");
                        html.html("selected:" + values);
                        html.appendTo("body");
                    }
                });
            });
        </script>
    </div>
</body>

</html>
